body{
    background-color: darkcyan;
    background-image: url("../images/matrix-office.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

h1{
    text-align: center;
    margin: 0px;
}

.about{
    margin: 0px 50px 0px 50px;
    padding: 50px 100px 50px 100px;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 480px){
    body{
        background-size: ;
    }
    h1{
        font-size: 120%;
    }
    .about{
        margin: 6%;
        padding: 0%;
        font-size: 60%;
    }
}