body{
    background-color: #fbf9fa;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2024;
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

.short-text{
    font-family: 'Zilla Slab Highlight', cursive;
    text-align: center;
    font-size: 250%;
    margin: 0;
    margin-bottom: 2%;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 1%;
}

h2{
    margin: 0;
    margin-bottom: 1%;
    text-align: center;
}

.about{
    background-color: #fbf9fa;
    text-align: center;
    justify-content: center;
}

.explanation-text{
    text-align: justify;
    margin: 0;
    padding: 0% 20% 0% 20%;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 2%;
}

.projects{
    width: 100%;
}

.project-header{
    margin: 0;
}

.fieldr{
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    padding: 100;
    background-color: #53CDF6;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.review-insight{
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    padding: 100;
    background-color: #0401a0;
    color: #fff;
    text-align: center;
}

.premier-league{
    font-family: 'Russo One', sans-serif;
    width: 100%;
    padding: 100;
    background-color: #9b0040;
    color: #fff;
    text-align: center;
}

.train-booking{
    font-family: 'Russo One', sans-serif;
    width: 100%;
    padding: 100;
    background-color: #008020;
    color: #fff;
    text-align: center;
}

.tech{
    color: #000000;
    background-color: #fbf9fa;
}

.logos{
    height: 110px;
}

footer{
    color: #000000;
    text-align: center;
    font-family: monospace;
}

@media screen and (max-width: 720px){
    h2{
        font-size: 120%;
    }
    .explanation-text{
        text-align: left;
        margin: 0%;
        padding: 5% 5%;
        font-size: 85%;
    }
    .short-text{
        font-size: 160%;
    }
}