body{
    background-color: #fbf9fa;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2024;
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

.about{
    background-color: #fbf9fa;
    text-align: center;
    justify-content: center;
}

.short-text{
    font-family: 'Libre Barcode 39 Text', cursive;
    text-align: center;
    font-size: 250%;
    margin: 0;
}

.explanation-text{
    text-align: justify;
    padding: 0% 20% 0% 20%;
    font-family: 'Source Code Pro', monospace;
}

.tech{
    color: #000000;
    background-color: #fbf9fa;
}

.logos{
    height: 110px;
}

footer{
    color: #ffffff;
    text-align: center;
    font-family: monospace;
}

@media screen and (max-width: 720px){
    h2{
        font-size: 120%;
    }
    .explanation-text{
        text-align: left;
        margin: 0%;
        padding: 5% 5%;
        font-size: 85%;
    }
    .short-text{
        font-size: 160%;
    }
}